body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #080a0b, #0b1012, #01141c);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgba(248, 222, 222, 0.42);
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ff0004;
  }
  to {
    text-shadow: 0 0 20px #fd0505, 0 0 30px #f8060a;
  }
}

.countdown {
  display: flex;
  gap: 20px;
}

.time-box {
  background: rgba(252, 3, 3, 0.952);
  color: rgb(235, 232, 232);
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  animation: bounce 2s infinite;
}

.time-box span {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
}

.label {
  font-size: 1rem;
  opacity: 0.7;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
